{{define "body"}}
<div class="content-width">
    <h1>Sign up</h1>
    <p>Already have an account? <a href="/login">Log in</a></p>
    <form method="post">
        <label for="">Email</label>
        <input type="email">

        <label for="">Password</label>
        <input type="password">

        <button class="larger">Sign up</button>
        <p>By clicking this button you agree to the Wed Rentals <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a></p>
    </form>
</div>

{{end}}
