{{define "css"}}main2{{end}}

{{define "body"}}
<div class="content-width">
    <h1>Manage images</h1>
    <ul id="manage-images">
        <li><a href="/listing/update/image/add">+</a></li>
        <li><a href="/listing/update/image"></a></li>
        <li><a href="/listing/update/image"></a></li>
        <li><a href="/listing/update/image"></a></li>
        <li><a href="/listing/update/image"></a></li>
    </ul>
    <form action="/listing/update">
        <button>Done</button>
    </form>
</div>
{{end}}