{{define "css"}}main2{{end}}

{{define "body"}}
<div id="manage" class="content-width">
    <h1>Manage your listing</h1>
    <a class="btn light" href="/listing/update/content">Content</a> <a class="btn light" href="/listing/update/images">Images</a>
    <div id="preview">
        This is a preview
    </div>
</div>

<ul id="listing-images">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>
<div id="listing" class="content-width">
    <div id="location">Salt Lake City, UT</div>
    <h1>The title of the listing</h1>
    <p>This is the content of the listing. It's the kind of content that will make you squeal with excitement. I call it "Christmas Morning Content". I should probably trademark that. Man, I'm good.</p>
    <p>72L x 36W x 24H</p>
    <h2>More from Utah Vintage Rentals</h2>
</div>
<ul id="listing-images" class="small">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>
{{end}}