{{define "body"}}
<div class="content-width">
    <h1>Listings</h1>
    <ul class="listings">
        <li>
            <a href="/listing" target="_blank">
                <img src="" alt="">
                <div class="body">
                    <div class="location">Bellingham, WA</div>
                    <div class="title">This is the title</div>
                    <div class="vendor">Utah Vintage Rentals</div>
                    <div class="price"><span class="amount">$100</span> per day</div>
                </div>
            </a>
        </li>

        <li>
            <a href="/listing" target="_blank">
                <img src="" alt="">
                <div class="body">
                    <div class="location">Bellingham, WA</div>
                    <div class="title">This is the title</div>
                    <div class="vendor">Utah Vintage Rentals</div>
                    <div class="price"><span class="amount">$100</span> per day</div>
                </div>
            </a>
        </li>

        <li>
            <a href="/listing" target="_blank">
                <img src="" alt="">
                <div class="body">
                    <div class="location">Bellingham, WA</div>
                    <div class="title">This is the title</div>
                    <div class="vendor">Utah Vintage Rentals</div>
                    <div class="price"><span class="amount">$100</span> per day</div>
                </div>
            </a>
        </li>

        <li>
            <a href="/listing" target="_blank">
                <img src="" alt="">
                <div class="body">
                    <div class="location">Bellingham, WA</div>
                    <div class="title">This is the title</div>
                    <div class="vendor">Utah Vintage Rentals</div>
                    <div class="price"><span class="amount">$100</span> per day</div>
                </div>
            </a>
        </li>

        <li>
            <a href="/listing" target="_blank">
                <img src="" alt="">
                <div class="body">
                    <div class="location">Bellingham, WA</div>
                    <div class="title">This is the title</div>
                    <div class="vendor">Utah Vintage Rentals</div>
                    <div class="price"><span class="amount">$100</span> per day</div>
                </div>
            </a>
        </li>

        <li>
            <a href="/listing" target="_blank">
                <img src="" alt="">
                <div class="body">
                    <div class="location">Bellingham, WA</div>
                    <div class="title">This is the title</div>
                    <div class="vendor">Utah Vintage Rentals</div>
                    <div class="price"><span class="amount">$100</span> per day</div>
                </div>
            </a>
        </li>

        <li>
            <a href="/listing" target="_blank">
                <img src="" alt="">
                <div class="body">
                    <div class="location">Bellingham, WA</div>
                    <div class="title">This is the title</div>
                    <div class="vendor">Utah Vintage Rentals</div>
                    <div class="price"><span class="amount">$100</span> per day</div>
                </div>
            </a>
        </li>

        <li>
            <a href="/listing" target="_blank">
                <img src="" alt="">
                <div class="body">
                    <div class="location">Bellingham, WA</div>
                    <div class="title">This is the title</div>
                    <div class="vendor">Utah Vintage Rentals</div>
                    <div class="price"><span class="amount">$100</span> per day</div>
                </div>
            </a>
        </li>

        <li>
            <a href="/listing" target="_blank">
                <img src="" alt="">
                <div class="body">
                    <div class="location">Bellingham, WA</div>
                    <div class="title">This is the title</div>
                    <div class="vendor">Utah Vintage Rentals</div>
                    <div class="price"><span class="amount">$100</span> per day</div>
                </div>
            </a>
        </li>

        <li>
            <a href="/listing" target="_blank">
                <img src="" alt="">
                <div class="body">
                    <div class="location">Bellingham, WA</div>
                    <div class="title">This is the title</div>
                    <div class="vendor">Utah Vintage Rentals</div>
                    <div class="price"><span class="amount">$100</span> per day</div>
                </div>
            </a>
        </li>
    </ul>
</div>
{{end}}
