{{define "body"}}
<div class="content-width">
    <div id="profile">
        <img src="" alt="">
        <div class="business-name">Utah Vintage Rentals</div>
        <div class="website"><a href="http://www.utahvintage.rentals" target="_blank">utahvintage.rentals</a></div>
        <a class="btn" href="/profile/contact">Contact</a>
    </div>
    <ul class="listings">
        <li>
            <a href="/listing">
                <img src="" alt="">
                <div class="body">
                    <div class="location">Bellingham, WA</div>
                    <div class="title">This is the title</div>
                    <div class="vendor">Utah Vintage Rentals</div>
                    <div class="price"><span class="amount">$100</span> per day</div>
                </div>
            </a>
        </li>
        <li>
            <a href="/listing">
                <img src="" alt="">
                <div class="body">
                    <div class="location">Bellingham, WA</div>
                    <div class="title">This is the title</div>
                    <div class="vendor">Utah Vintage Rentals</div>
                    <div class="price">$100 per day</div>
                </div>
            </a>
        </li>
        <li>
            <a href="/listing">
                <img src="" alt="">
                <div class="body">
                    <div class="location">Bellingham, WA</div>
                    <div class="title">This is the title</div>
                    <div class="vendor">Utah Vintage Rentals</div>
                    <div class="price">$100 per day</div>
                </div>
            </a>
        </li>
        <li>
            <a href="/listing">
                <img src="" alt="">
                <div class="body">
                    <div class="location">Bellingham, WA</div>
                    <div class="title">This is the title</div>
                    <div class="vendor">Utah Vintage Rentals</div>
                    <div class="price">$100 per day</div>
                </div>
            </a>
        </li>
    </ul>
</div>
{{end}}
