{{define "body"}}
<div class="content-width">
    <h1>First, create a profile</h1>
    <form action="/vendor/post">
        <label for="">First name</label>
        <input type="text">

        <label for="">Last name</label>
        <input type="text">

        <label for="">Business name</label>
        <input type="text">

        <label for="">Phone</label>
        <input type="text">

        <label for="">Website</label>
        <input type="text">

        <label for="">Image</label>
        <input type="file">

        <button class="larger">Start posting!</button>
    </form>
</div>
{{end}}
