<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="manifest" href="/static/site.webmanifest">
    <link rel="apple-touch-icon" href="/static/icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/{{block "css" .}}main{{end}}.css?v=222">
</head>

<body>
    <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <nav>
        <a href="/"><img id="nav-logo" src="/static/img/logo.png" alt=""></a>
        <ul>
            <li><a href="/vendor/profile/create">Post</a></li>
            <li>{{if not .IsLoggedIn}}<a href="/login">Log in</a>{{else}}<a href="/account"><img id="nav-profile-pic" src="/static/img/default_avatar_75x75-2.png" alt=""></a>{{end}}</li>
            <li>
                <a href="/account/faves">
                    <svg id="fave-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false"><path d="M16.5,3A6.953,6.953,0,0,0,12,5.051,6.912,6.912,0,0,0,7.5,3C4.364,3,2,5.579,2,9c0,5.688,8.349,12,10,12S22,14.688,22,9C22,5.579,19.636,3,16.5,3Z"></path></svg>
                </a>
            </li>
        </ul>
    </nav>
    <div id="app">
        {{template "body" .}}
    </div>
    <script src="/static/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/static/js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
    <script src="/static/js/plugins.js"></script>
    <script src="/static/js/main.js"></script>
</body>

</html>

